<header class="header">
  <div class="top-container">
    <div class="header__inner">
      <a class="logo" href="#">
        <img class="logo__img" src="images/logo.svg" alt="logo">
      </a>
      <div class="menu__btn">
        <span class="menu__btn-line"></span>
        <span class="menu__btn-line"></span>
        <span class="menu__btn-line"></span>
      </div>
      <div class="header__info">
        <div class="header__info-visible">
          <nav class="menu">
            <ul class="menu__list">
              <li class="menu__list-item">
                <a class="menu__list-link menu__list--current" href="#">ТТС 2021</a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link">Встречи</a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">Доклады</a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">Партнерам</a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">Новости</a>
              </li>
              <li class="menu__list-item">
                <a class="menu__list-link" href="#">Контакты</a>
              </li>
            </ul>
          </nav>
          <div class="header__btn">
            <a class="header__btn-associate header__btn-link" href="#">Стать партнером</a>
            <a class="header__btn-participate header__btn-link" href="#">Участвовать в ттс`21</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>